/* Basic editor styles */
.tiptap {
  .ProseMirror {
    padding: 1rem;
    border: 1px solid #0d0d0d;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background: #fff;
    color: #0d0d0d;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    min-height: 200px;
  }
  margin-top: 0.75em;
}

ul,
ol {
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}

/* Button Styles */
.editor-button {
  background-color: #4caf50;
  color: white;
  padding: 6px 6px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.editor-button:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}

.editor-button.is-active {
  background-color: #2196f3; /* Material Design primary color */
}
.ProseMirror-focused {
  outline: none;
}

/* Select styles.css */
.font-select {
  width: 77px;
  padding-top: 14px;
  padding-left: 4px;
  margin-right: 5px;
  display: inline-block;
  background-color: #45a049;
  border: 1px solid #45a049;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  appearance: none;
  transition: background-color 0.3s ease;
}

.font-select:hover {
  border-color: #45a049;
}

.font-select:focus {
  border-color: #45a049;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.7);
}
