/* Basic editor styles */
.tiptap {
    * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }
  
    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
  
    pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0D0D0D, 0.1);
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }
  }

  /* Add the following styles to your existing CSS or create a new stylesheet */

/* Button Styles */
/* styles.css */
.editor-button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.editor-button:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}

.editor-button.is-active {
  background-color: #2196f3; /* Material Design primary color */
}
.ProseMirror-focused {
  outline: none;
}
