@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

header {
  z-index: 10001 !important;
}

.btn-primary {
  @apply px-8 py-4 bg-primary text-xl text-white rounded hover:bg-body hover:text-white transition-all duration-300;
}

/* Hide scrollbar for webkit browsers */
/* This will hide the scrollbar when not interacting with it */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Track for webkit browsers */
::-webkit-scrollbar-track {
  background: white; /* Set the background color of the track */
}

/* Handle for webkit browsers */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the background color of the thumb */
  border-radius: 4px; /* Round the corners of the thumb */
}

/* When hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change the thumb color on hover */
}

/* Scrollbar corner (between vertical and horizontal scrollbar) */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Set the background color of the corner */
}
